.popup_bg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: @gcolor;
    opacity: 0.7;
    display: none;
    z-index: 3;
}
.popup_post{
    top: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4;
    height: 100vh;
    width: 100%;

    .popup_ct{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background: white;
        padding: 30px;
        width: 400px;
        z-index: 3;
        input , textarea{
            width: 100%;
            margin-bottom: 5px;
            border-radius: 10px;
            padding: 5px;
            border: 1px solid @scolor;
        }
        button{
            background: @scolor;
            color: white;
            border-radius: 10px;
            padding: 5px 10px 5px 10px;
            width: 100%;
        }
    }
}

.popup_comment{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    
    .popup_ct{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: white;
        z-index: 4;

        .navigation{
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 0px 0px 10px 10px;
            button{
                width: 100%;
                background: @scolor;
                color: white;
                border-radius: 10px;
                padding: 5px 10px 5px 10px;
            }
            input{
                width: 100%;
                margin-bottom: 5px;
                border-radius: 10px;
                padding: 5px;
                border: 1px solid @scolor;
            }
        }
        .comments{
            height: 100%;
            overflow-y: scroll;
            padding: 10px;
            .comment{
                border: 1px solid @scolor;
                border-radius: 10px;
                padding: 2px 10px 0px 10px;
                margin-bottom: 5px;
                p{
                    margin-bottom: 5px;
                }
                .comment-name{
                    background: @dcolor;
                    padding: 5px 10px 5px 10px;
                    border-radius: 10px;
                    color: white;
                    margin-left: -10px;
                }
                .comment-text{
                    margin-top: 10px;
                    width: 100%;
                    word-break: break-all
                    ;
                }
                .caption{
                    text-align: right;
                    opacity: 0.8;
                }
            }
        }
    }
}

.popup_image{
    top: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    
    img{
        padding: 5px;
        display: flex;
    }
}
