*{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 300; //light
    font-size: 96px;
    letter-spacing: -0.025rem;
}

h2{
    font-weight: 300;
    font-size: 60px;
    letter-spacing: -0.005rem;
}

h3{
    font-weight: 400; //regular
    font-size: 48px;
    letter-spacing: 0;
}

h4{
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.007rem;
}

h5{
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
}

h6{
    font-weight: 500; //medium
    font-size: 20px;
    letter-spacing: 0.007rem;
}

.subtitle1{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.009rem;
}

.subtitle2{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.007rem;
}

.body1{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03rem;
}

.body2{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.017rem;
}

.caption{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.03rem;
}

.overline{ //for caps
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.15rem;
}

button{ //for caps
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.09rem;
}


//general options

button, input, textarea, 
button:active, 
button:focus , input:focus{
    outline: none;
    border: none;
}
input::placeholder{
    opacity: 0.5;
}


