
  html{
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* img{
    max-width: 100%;
    height: auto;
  } */

  /* .wrap{
    width: 100%;
    min-width: 640px;
    max-width: 760px;
    min-height: 150px;

    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;

    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;

    background: #fff;

  } */
/* 
  .section{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-top: 1px solid gray;
  } */
/* 
  .header{
    display: flex;
  }
  .header__logo{
    width: 400px;
    position: relative;
  } */

  #rollerButton{
    cursor: pointer;
    background: url(roller.png);
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    height: 80px;
    width: 80px;
  }

  #displayColor{
    margin: 0px;
    color: white;
    text-shadow: 4px 3px 0 #000;
  }
