@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&subset=cyrillic-ext');
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#CommentsFeed{
    width: 650px;
    margin: auto;
    margin-top: 30px;
}
.comment{
    width: 600px;
    position: relative;
    display: inline-block;
    background: linear-gradient(135deg, rgba(146,172,221,1) 0%, rgba(74,115,191,1) 100%);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.09);
    margin-bottom: 30px;
    
    
}
.name{
    width: 300px;
    
    
}
.like{
    display: flex;
    z-index: 10000;
    position: absolute;
    right: 20px;
    cursor: pointer;
}


body{
    height: 100vh;
    background: linear-gradient(135deg, rgba(6,196,206,1) 0%, rgba(189,73,158,1) 100%);
    color: white;
    font-family: 'Roboto Mono', monospace;
}