#timer{
    position: relative;
    width: 500px;
    height: 1000px;
    background: url(clock.png);
    background-size: contain;
    text-align: center;

    margin: auto;
}
.controls{ 
    position: absolute;
    bottom: 0
}
button{
    height: 50px;
    width: 250px;
    background: white;
    opacity: 0.8;
}
#arrow{
    position: absolute;
    width: 500px;
    height: 300px;
    background: url(arrow.png) no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 18px; 
    transform-origin: center;
    margin-top: 405px;
    transform: rotate(0deg) 
}