@import './modules/admin-panel.less';

@font-face {
    font-family: 'MTT Milano Regular';
    src: url('../MTTMilano-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'MTT Milano Bold';
        src: url('../MTTMilano-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

html{
    width: 100%;
    height: 100%;
}

body{
    background: #EDEDED;
    font-family: 'MTT Milano Regular';
    margin: 0;
    padding: 0;

}
#app{
    display: flex;
}

.nav-header {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(10%, 1fr)); */
    grid-template-columns: 7rem auto 10em 7rem;
    grid-auto-rows: 1fr;
    width: 100%;
    position: fixed;
    z-index: 12;
    
    
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        color: black;
        text-decoration: none;
    }
    .logo{
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-weight: bold;
    }

    &::before {
        content: '';
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        transition: .2s;
        font-size: 20px;

        p{
            text-align: center;
        }
        
        &:nth-child(odd){
            background: #EDEDED
        }
        &:nth-child(1){
            background: white
        }

        &:hover{
            background: black;
            color: white;
            cursor: pointer;
            transition: .2s;
        }
    }
}

.nav-header > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.filter-container{
    position: fixed;
    height: 7em;
    width: 10em;
    background: white;
    top: 7em;
    right: 7em;
    z-index: 10;
    display: grid;
    transform: translateY(-14em);
    transition: .3s;

    .filter-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.menu-container{
    position: fixed;
    height: 21em;
    width: 7em;
    background: white;
    top: 7em;
    right: 0;
    z-index: 10;
    display: grid;
    transform: translateY(-28em);
    transition: .3s;
    a{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        transition: .3s;
        &:hover{
            background: black;
            color: white;
        }
    }
}





.kitchens-container{
    width: 100%;
    padding-top: 7rem;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-auto-rows: 1fr;

    &::before {
        content: '';
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

}

.kitchens-container > *:first-child {
    grid-row: 1 / 1;
        grid-column: 1 / 1;
}



.kitchens-container > * {
    background: white ;
}

.block{
    padding: 15px;
    position: relative;
    transition: .2s;
    font-size: 20px;
    

    img{
        width: 100%;
        opacity: 0.8;
    }
    .title-container{
        position: absolute;
        bottom: 0;
        background: white;
        transition: .2s;
        h3{
            margin-top: 5px;
            margin-right: 5px;
        }
    }
    &:hover{
        background: black;
        cursor: pointer;
        transition: .2s;
    }
    &:hover .title-container{
        background: black;
        transition: .2s;
        color: white;
    }
}

.grey{
    background: #CAD7E3;
}
.gold{
    background: #ECDFCC;
}
.white{
    background: white;
}

@keyframes loaderLabel {
    0%{
        font-size: 20px;
        opacity: 0;
    }
    100%{
        font-size: 25px;
        opacity: 1;
    }
}
.loader{
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    h1{
        animation: loaderLabel 1s infinite;
    }
}



// footer{
//     background: white;
//     width: 100%;
//     height: 100px;
//     position: absolute;
//     bottom: 0;
// }




.kitchen-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    a{
        background: none;
    }
    a:hover{
        img{
            transform: scale(1.2);
            transition: .3s;
            
        }
    }

    img{
        width: 100%;
        opacity: 0.8;
        transition: .3s;
    }

}
.kitchen-text{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        font-size: 30px;
    }
    p{
        font-size: 25px;
        text-align: justify;
    }
}

.kitchen-form{
    form{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        input{
            height: 30px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid black;
            font-size: 20px;
            padding: 5px;
        }
        button{
            height: 40px;
            margin-top: 15px;
            background: black;
            color: white;
        }
    }
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 30px;
    }
}