.burger{
    flex-shrink: 0;
    height: 40px;
    .item{
        display: inline-block;
        width: 60px;
        height: 100%;
        border-radius: 10px;
        &.write{
            background: @scolor url(../img/icons/edit.png) no-repeat;
            background-size: 20px;
            background-position: center;
        }
        &.search{
            width: 150px;
            position: relative;
            input{
                border-radius: 10px;
                background: @scolor ;
                position: absolute;
                height: 100%;
                width: 100%;
                color: white;
                padding: 10px;
                &::placeholder{
                    color: white;
                    text-align: center;
                    opacity: 0.8;
                }
            }
        }
    }
    
}