.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 20px);
    height: 60px;
    margin: auto;
    background: @gcolor; 
    padding: 0px 20px 0px 0px;
    z-index: 2;

    .logo{
        h5{
            color: white;
            font-family: 'Exo', sans-serif;
            font-weight: 900;
            font-size: 40px;
        }
    }
    
}