.posts {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: 40px;
    margin-top: 60px;
    .post {
        position: relative;
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.25);
        
        .title {
            padding: 20px 20px 0px 20px;
            }
            .desc{
                padding: 20px 20px 0px 20px;
                
            }
            img{
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                &:hover{
                    cursor: pointer;
                }
            }
            .post-navigation{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding: 10px;
                width: 100%;
                button{
                    margin: 5px;
                    background: @scolor;
                    color: white;
                    border-radius: 10px;
                    padding: 5px 10px 5px 10px;
                }
                .author-button{
                    background: @dcolor;
                }
            }
    }
}

