.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;

    .modal-content{
        background: white;
        padding: 50px;
        max-height: 90vh;
        overflow: hidden;
        overflow-y: auto;
    }

    input{
        height: 30px;
        font-size: 15px;
        width: 20em;
    }
    textarea{
        font-size: 15px;
        width: 20em;
    }
}
a:hover{
    background: wheat;
    cursor: pointer;
}

.kitchens{
    width: 100%;
    padding: 30px;

    .kitchen{
        margin: auto;
        margin-bottom: 20px;

        background: white;
        width: 100%;
    }
    img{
        width: 300px;
    }
}

.nav-admin{
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background: #EDEDED;
    border-bottom: 1px solid black;
    a{
        padding: 10px;

        font-size: 20px;
        color: black;
        text-decoration: none;

        
    }
}